.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  //Tamaño maximo pantalla
  .maxScreenSize {
    max-width: 1402px;
    padding: 2rem;
  }

  //Colors
  .darkPink {
    color: #CEB1BE;
  }

  .lightPink {
    color: #F1E4E8;
  }

  $darkBlue: #4D7298;
  .darkBlue {
    color: $darkBlue;
  }

  .lightBlue {
    color: #77A6B6;
  }

  //Align and justify elements
  .justifyCenter {
    display: flex;
    justify-content: center;
  }

  .justifyStart {
    display: flex;
    justify-content: flex-start;
  }

  .justifyAround{
    display: flex;
    justify-content: space-around;
  }

  .justifyEnd {
    display: flex;
    justify-content: flex-end;
  }

  .alignCenter {
    display: flex;
    align-items: center;
  }

  .columnCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .noWrapText{
    flex-wrap: nowrap;
    align-items: baseline;
  }

  //Texts
  & p {
    word-break: break-word;
    font-family: 'Lato';
    color: rgb(51, 50, 50);
    margin: 0!important;
  }

  & h1 {
    font-family: 'Poppins';
    font-size: 4rem;

    @media screen and (max-width:'864px') {
      font-size: 3rem;
    }
  }

  .bold{
    font-weight: bold;
  }

  .sectionTitle {
    font-weight: bold;
    color: $darkBlue;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 15px 0;
  }
}